body
{
    padding: 0%;
    margin: 0%;
}

.box
{
    position: absolute;
    border: 2px solid black;
    width: 30%;
    height: 60%;
    top: 20%;
    left: 35%;
    padding: 5px 5px;
}

.box h2
{
    position: relative;
    left:40%;
}

.box span
{
    font-size: larger;
    width: 100%;
    margin-left: 5%;
    /* top: 1%; */
    padding: 30px 5px;
    top: 3%;
    position: relative;
}

.box input
{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 10px 5px;
}

.box button
{
    position: relative;
    margin-top: 10%;
    left: 38%;
    background-color: red;
    cursor: pointer;
    border: none;
    padding: 10px 25px;
}